body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  box-sizing: border-box;
}
.title {
  margin: 2rem 0;
  font-size: 3rem;
}
.input-box {
  width: 500px;
  border: 3px solid darkslategrey;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}
.input-note {
  font-size: 20px;
  width: 90%;
  border: none;
  background: none;
}
.add-btn {
  padding: 0;
  border: none;
  line-height: 0;
  background: none;
  cursor: pointer;
}
.add-icon {
  font-size: 40px;
  padding: 0;
  margin: 0;
  color: darkslategray;
}
.input-note:focus {
  outline: none;
}
.todos-box {
  width: 500px;
}
.filtered-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.select-box {
  background-color: darkslategray;
  color: lightgray;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  border-top-left-radius: 0;
}
.todo-item {
  background-color: darkslategray;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-top-left-radius: 0;
  position: relative;
}
.todo-item-complited {
  background-color: rgb(81, 102, 102);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  text-decoration: line-through;
  position: relative;
}
.todo-date {
  font-size: 12px;
  padding: 3px;
  position: absolute;
  left: 0;
  top: -20px;
  background-color: bisque;
}
.todo-note {
  font-size: 20px;
  margin: 0;
  color: lightgray;
}
.delete-box {
  justify-content: space-between;
}
.delete,
.done {
  font-size: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.delete {
  margin-left: 3px;
  color: brown;
}
.done {
  color: aquamarine;
}
